.reduced {
    text-decoration: line-through;
}

.article {
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(210,210,210);
}

.centerHorizontal{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}